In [2]:
import numpy as np 
import pandas as pd
import seaborn as sns

In [3]:
## simple data
df=pd.DataFrame({
    'colors':['red','blue','yellow','blue','red','red','yellow']
})

In [4]:
df

   colors
0     red
1    blue
2  yellow
3    blue
4     red
5     red
6  yellow

In [5]:
from sklearn.preprocessing  import OneHotEncoder
encoder=OneHotEncoder()

In [6]:
##FIT THE DATA AND TRANSFORM THE DATA
encoded=encoder.fit_transform(df[['colors']]).toarray()

In [7]:

encoded_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [8]:
encoded_df

   colors_blue  colors_red  colors_yellow
0          0.0         1.0            0.0
1          1.0         0.0            0.0
2          0.0         0.0            1.0
3          1.0         0.0            0.0
4          0.0         1.0            0.0
5          0.0         1.0            0.0
6          0.0         0.0            1.0

In [10]:
pd.concat([df,encoded_df],axis=1)
## from here data is encoded by one hot encoder

   colors  colors_blue  colors_red  colors_yellow
0     red          0.0         1.0            0.0
1    blue          1.0         0.0            0.0
2  yellow          0.0         0.0            1.0
3    blue          1.0         0.0            0.0
4     red          0.0         1.0            0.0
5     red          0.0         1.0            0.0
6  yellow          0.0         0.0            1.0