In [18]:
import pandas as pd
import numpy as np
import seaborn as sns

In [19]:
df=sns.load_dataset('tips')

In [20]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [21]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [22]:
mean_data=df.groupby('time')['total_bill'].mean().to_dict()

C:\Users\PC\AppData\Local\Temp\ipykernel_13864\4011445758.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_data=df.groupby('time')['total_bill'].mean().to_dict()

In [23]:
mean_data

{'Lunch': 17.168676470588235, 'Dinner': 20.79715909090909}

In [24]:
df['time_encoded']=df['time'].map(mean_data)

In [25]:
df

     total_bill   tip     sex smoker   day    time  size time_encoded
0         16.99  1.01  Female     No   Sun  Dinner     2    20.797159
1         10.34  1.66    Male     No   Sun  Dinner     3    20.797159
2         21.01  3.50    Male     No   Sun  Dinner     3    20.797159
3         23.68  3.31    Male     No   Sun  Dinner     2    20.797159
4         24.59  3.61  Female     No   Sun  Dinner     4    20.797159
..          ...   ...     ...    ...   ...     ...   ...          ...
239       29.03  5.92    Male     No   Sat  Dinner     3    20.797159
240       27.18  2.00  Female    Yes   Sat  Dinner     2    20.797159
241       22.67  2.00    Male    Yes   Sat  Dinner     2    20.797159
242       17.82  1.75    Male     No   Sat  Dinner     2    20.797159
243       18.78  3.00  Female     No  Thur  Dinner     2    20.797159

[244 rows x 8 columns]

In [26]:
df.drop('time',inplace=True,axis=1)

In [27]:
df

     total_bill   tip     sex smoker   day  size time_encoded
0         16.99  1.01  Female     No   Sun     2    20.797159
1         10.34  1.66    Male     No   Sun     3    20.797159
2         21.01  3.50    Male     No   Sun     3    20.797159
3         23.68  3.31    Male     No   Sun     2    20.797159
4         24.59  3.61  Female     No   Sun     4    20.797159
..          ...   ...     ...    ...   ...   ...          ...
239       29.03  5.92    Male     No   Sat     3    20.797159
240       27.18  2.00  Female    Yes   Sat     2    20.797159
241       22.67  2.00    Male    Yes   Sat     2    20.797159
242       17.82  1.75    Male     No   Sat     2    20.797159
243       18.78  3.00  Female     No  Thur     2    20.797159

[244 rows x 7 columns]

In [28]:
##target encoding with day data by target tip
df['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [34]:
mean_data=df.groupby('day')['tip'].mean().to_dict()

C:\Users\PC\AppData\Local\Temp\ipykernel_13864\2732136655.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_data=df.groupby('day')['tip'].mean().to_dict()

In [35]:
mean_data

{'Thur': 2.7714516129032254,
 'Fri': 2.734736842105263,
 'Sat': 2.993103448275862,
 'Sun': 3.2551315789473683}

In [36]:
df['day_encoded']=df['day'].map(mean_data)

In [38]:
df.head()

   total_bill   tip     sex smoker  day  size time_encoded day_encoded
0       16.99  1.01  Female     No  Sun     2    20.797159    3.255132
1       10.34  1.66    Male     No  Sun     3    20.797159    3.255132
2       21.01  3.50    Male     No  Sun     3    20.797159    3.255132
3       23.68  3.31    Male     No  Sun     2    20.797159    3.255132
4       24.59  3.61  Female     No  Sun     4    20.797159    3.255132

In [39]:
df.drop('day',inplace=True,axis=1)

In [40]:
df

     total_bill   tip     sex smoker  size time_encoded day_encoded
0         16.99  1.01  Female     No     2    20.797159    3.255132
1         10.34  1.66    Male     No     3    20.797159    3.255132
2         21.01  3.50    Male     No     3    20.797159    3.255132
3         23.68  3.31    Male     No     2    20.797159    3.255132
4         24.59  3.61  Female     No     4    20.797159    3.255132
..          ...   ...     ...    ...   ...          ...         ...
239       29.03  5.92    Male     No     3    20.797159    2.993103
240       27.18  2.00  Female    Yes     2    20.797159    2.993103
241       22.67  2.00    Male    Yes     2    20.797159    2.993103
242       17.82  1.75    Male     No     2    20.797159    2.993103
243       18.78  3.00  Female     No     2    20.797159    2.771452

[244 rows x 7 columns]

In [41]:
## now we do target guided ordinal encoding on smoker by making targeting as a tip
df['smoker'].unique()

['No', 'Yes']
Categories (2, object): ['Yes', 'No']

In [42]:
mean_data=df.groupby('smoker')['tip'].mean().to_dict()

C:\Users\PC\AppData\Local\Temp\ipykernel_13864\2560283567.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_data=df.groupby('smoker')['tip'].mean().to_dict()

In [43]:
mean_data

{'Yes': 3.008709677419355, 'No': 2.9918543046357615}

In [44]:
df['encoded_smoker']=df['smoker'].map(mean_data)

In [45]:
df.head()

,total_bill,tip,sex,smoker,size,time_encoded,day_encoded,encoded_smoker
0,16.99,1.01,Female,No,2,20.797159,3.255132,2.991854
1,10.34,1.66,Male,No,3,20.797159,3.255132,2.991854
2,21.01,3.50,Male,No,3,20.797159,3.255132,2.991854
3,23.68,3.31,Male,No,2,20.797159,3.255132,2.991854
4,24.59,3.61,Female,No,4,20.797159,3.255132,2.991854

In [47]:
##now we do target guided ordinal encoding of sex by making target total_bill
df['sex'].unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [48]:
mean_data=df.groupby('sex')['total_bill'].mean().to_dict()

C:\Users\PC\AppData\Local\Temp\ipykernel_13864\4260585579.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_data=df.groupby('sex')['total_bill'].mean().to_dict()

In [49]:
mean_data

{'Male': 20.74407643312102, 'Female': 18.05689655172414}

In [50]:
df['encoded_sex']=df['sex'].map(mean_data)

In [52]:
df.drop('sex',inplace=True,axis=1)
df.drop('smoker',inplace=True,axis=1)

In [53]:
df.head()

   total_bill   tip  size time_encoded day_encoded encoded_smoker encoded_sex
0       16.99  1.01     2    20.797159    3.255132       2.991854   18.056897
1       10.34  1.66     3    20.797159    3.255132       2.991854   20.744076
2       21.01  3.50     3    20.797159    3.255132       2.991854   20.744076
3       23.68  3.31     2    20.797159    3.255132       2.991854   20.744076
4       24.59  3.61     4    20.797159    3.255132       2.991854   18.056897

In [ ]:
## TIP dataset is fully encoded by target guided ordinal encoding